body{
    background: red;
}
div{
    border: 1px solid blue;
}
a{
    color: inherit;
    text-decoration: none;
}

<<<<<<< HEAD
.one2{
=======
.one1{
>>>>>>> bd0419fbc854f68791eeff89336b448857b02887
    font-size: 10px;
}